html{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

h1{
    text-align: center;
    margin: 0;
    padding: 15px;
    border-bottom: 1px solid #bdbdbd;
    width: 80%;
}

h2{
    color: #444444;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f8f9fa;
}

.login_panel{
    background-color: #fdfeff;
    border: 1px solid grey;
    border-radius: 10px;
    padding: 15px 15px;
    width: 100%;
    max-width: 450px;
    margin: 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

form{
    width: 100%;
}

.login_input_data{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 5%;
    font-weight: 600;
    line-height: 150%;
 
}

.login_input_data input{
    padding: 2%;
}

.sign_button{
    display: flex;
    justify-content: center;
    margin: 5%;
}

.sign_button button{
    padding: 10px 15px;
    font-weight: 700;
    color: white;
    border: none;
    border-radius: 5px;
    background-color: #0077b6;
}

button:hover{
    box-shadow: 3px 3px  #caf0f8;
    background-color: #0096c7;
    transform: translateY(-0.1em);
}

.not_registered{
    display: flex;
    flex-direction: row;
    justify-content: center;
    white-space: pre;
    padding: 5%;
    width: 80%;
    font-size: 0.9rem;
    border-top: 1px solid #bdbdbd;
}

.link{
    text-decoration: none;
    color: #0077b6;
}

a:hover{
    font-weight: 700;
}